body,
html {
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  background-color: #F3E9DC;
  font-family: Arial, sans-serif;

}

.videoportada {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.encabezado {
  width: 100%;
  height: 1200px;
  position: relative;
}


.barraploma {
  position: fixed;
  z-index: 2;
  background-color: white;
  box-shadow: 0 4px 5px gold;
  top: 0;
  width: 100%;
  height: 80px;
  align-items: center;

}

.placa-logo img {
  width: 160px;
  height: 75px;
  position: absolute;
  right: 20px;
}

.Bienvenida {
  display: flex;
  height: 1200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Bienvenida h1 {
  font-size: 50px;
  z-index: 2;
  color: white;
}

.Bienvenida h2 {
  font-size: 30px;
  z-index: 2;
  font-weight: 300;
  color: white;
}

.navEncabezado {
  display: flex;
}

.navEncabezado a {
  color: black;
  font-weight: bold;
  margin-left: 20px;

}

.efectoola {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.lista {
  width: 20%;
  border-radius: 0 16px 16px 0;
  list-style-type: none;
  cursor: pointer;
  margin-top: 10px;

}

.enlistar {
  overflow: hidden;
}

.Despliegue {
  font-size: 20px;
  padding: 10px 0;
  text-decoration: none;
}

.Despliegue_dentro {
  text-decoration: none;
  font-size: 20px;
}

.lista_dentro {
  width: 255px;
  border-radius: 6px;
  padding-top: 15px;
}

.lista_dentro:hover {
  width: 255px;
  box-shadow: 0 4px 0px gold;
}


.tablero .iconoprincipal {
  transform: rotate(90deg);
}


.iconoprincipal {
  transform: transform .3s;
}

.mostrar {
  width: 80%;
  border-left: 2px solid #303440;
  list-style: none;
  /* para quitar el puntito de la lista*/
  transition: height .4s;
  height: 0;
}

.alineacion_contenido {
  display: flex;
  align-items: center;

}

.alineacion_contenido:hover {
  background-color: rgba(245, 222, 179, 0.608);
}

/*CODIGO OFERTAS*/

.up {
  height: 93%;
  width: 5%;
  display: flex;
  float: left;
}

.ofertas {
  width: 700px;
  height: 700px;
  margin: 0px auto;
  overflow: hidden;

}

.ofertas ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 15s infinite alternate ease-in-out;
}

.ofertas li {
  height: fit-content;
  list-style: none;
  position: relative;
}

.ofertas img {
  width: 100%;
  margin-top: -50px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }

}

/*ESTE ES EL CODIGO (OPCIONAL) PARA HACERLA RESPONSIVE*/

@media(max-width:990px) {

  body {
    padding: 30px;
  }

  .ofertas {
    width: 100%;
  }
}


/*CODIGO DE PIE DE PAGINA*/
.footer {
  background-color: #5e3023;
  display: flex;
  width: 100%;
  position: relative;
  bottom: 0px;
}

.footer a {
  color: #dab49d;
}

.footer a:visited {
  color: #dab49d
}

h4 {
  color: bisque;
}

p {
  color: white;
}

h3 {
  color: bisque;
  font-size: 20px;

}


.divs {
  padding: 15px;
  width: 500px;
}


/*
.up p {
  color: aliceblue;
}

.up a {
  color: #f3e9dc
}

.up a:visited {
  color: #f3e9dc
}

.up img {
  width: 5%;
  height: 400px;

}

.ofertas {
  width: 30%;
  height: 400px;
  padding: 15px;
  background-size: cover;
  background-repeat: space;
  border: rgb(0, 0, 0);
  transition: .3s all;
}

.ofertas img {
  width: 40%;
  height: 30%;
}

.ofertas:hover {
  transition: .3s all;
  padding-top: 5px;
  padding-left: 5px;
  border-width: 5px;
  border-color: black;
  border-style: outset;
}*/